.modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #000000ce;
  // display: none;
  @media (max-width: 556px) {
    padding: 0 15px;
  }
  &#thanks {
    display: none;
  }
  label {
    color: #000;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    input {
      width: fit-content;
      transform: scale(1.7);
      flex: 0 0 auto;
    }
    p {
      font-size: 14px;
      @media (max-width: 556px) {
        font-size: 12px;
        line-height: normal;
      }
      a {
        color: #000;
      }
    }
  }
  &_title {
    color: #000;
    font-size: 36px;
    @media (max-width: 556px) {
      font-size: 22px;
      line-height: normal;
      text-align: center;
    }
  }
  input,
  textarea {
    outline: none;
    padding: 10px 16px;
    border-radius: 8px;
    background: #fff;
    width: 100%;
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    border: 1px solid #000;
  }
  input.error,
  textarea.error {
    border: 1px solid red;
    background: #ffe6e6;
  }
  .input_error {
    border: 1px solid #e53935 !important;
    background-color: #ffe6e6;
    outline: none;
  }
  &_content {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 40px 29px;
    border-radius: 30px;
    max-width: 556px;
    background: #fff;
    height: fit-content;
    @media (max-width: 556px) {
      padding: 45px 24px;
      width: calc(100% - 15px);
    }
  }
  &_inputs {
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .button {
    margin-top: 24px;
    cursor: pointer;
    border: 0;
    outline: none;
    text-align: center;
    box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
    background-image: linear-gradient(-45deg, #b6f505 0%, #0892df 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 556px) {
      width: 100%;
      max-width: 100%;
    }
  }
  .exit_modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #000;
    font-size: 35px;
  }
  &#thanks {
    .modal_content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 340px;
      align-items: center;
      padding: 36px 25px;
      .modal_title {
        line-height: normal;
        text-align: center;
      }
    }
  }
}
