@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "header";
@import "hero";
@import "why_avito";
@import "avito_profile";
@import "avito_offer";
@import "footer";
body {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 500;
  background: url("../images/avito_bg.png") center right no-repeat;
  background-size: 100% 100%;
  background-position: bottom center;
  font-family: "Montserrat";
  @media (max-width: 556px) {
    background: none;
  }
  &.hidden {
    overflow: hidden;
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
  .mobile_bg {
    display: none;
    @media (max-width: 556px) {
      display: block;
      position: absolute;
      top: 0;
      left: -71.5%;
      width: 190%;
      height: 100%;
      z-index: -1;
      // background: url("../images/mobile_bg.png") no-repeat center;
      // background-size: 400% 100%;
    }
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;

  &.between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }

  &.column {
    flex-direction: column;
  }

  &.a_center {
    align-items: center;
  }

  &.a_start {
    align-items: flex-start;
  }

  &.a_end {
    align-items: flex-end;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}
.button {
  width: 100%;
  max-width: 292px;
  height: 59px;
  border-radius: 12px;
  box-shadow: 11.934px 1.254px 12px rgba(90, 22, 72, 0.75);
  background-color: #ffffff;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  line-height: 75px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  &.gradient {
    color: #fff;
    background-image: linear-gradient(-31deg, #37dc47 0%, #1fa172 100%);
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.title {
  font-size: 59px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  @media (max-width: 1134px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 27px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
  }
}
.all_content {
  margin-top: 80px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 100%;
  @media (max-width: 1130px) {
    margin-top: 29px;
  }
  @media (max-width: 768px) {
    margin-top: 25px;
    font-size: 27px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
  }
}

main {
  position: relative;
  z-index: 2;
}
