@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  color: #fff;
}
.header .container {
  padding-bottom: 20px;
  border-bottom: 1px solid #3d3e57;
}
@media (max-width: 660px) {
  .header .container {
    border-bottom: none;
  }
}
.header .policy {
  gap: 10px;
}
@media (max-width: 1130px) {
  .header .policy {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header .policy {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .header .logo {
    max-width: 35%;
  }
}
@media (max-width: 660px) {
  .header .logo {
    max-width: 55%;
  }
}
@media (max-width: 1024px) {
  .header .logo img {
    max-width: 100%;
  }
}
.header ul {
  gap: 10px;
}
@media (max-width: 1024px) {
  .header ul {
    display: none !important;
  }
}
.header ul li {
  gap: 10px;
}
.header ul li .elipse {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #63e685;
  flex: 0 0 auto;
}
@media (max-width: 1130px) {
  .header ul li span {
    font-size: 14px;
  }
}
.header .phone {
  gap: 10px;
  align-items: flex-end;
}
@media (max-width: 660px) {
  .header .phone {
    align-items: center !important;
  }
}
.header .phone .green {
  font-size: 16px;
  line-height: 19px;
  color: #35d252;
  font-weight: 400;
}
@media (max-width: 1130px) {
  .header .phone .green {
    font-size: 14px;
  }
}
@media (max-width: 660px) {
  .header .phone .green {
    display: none;
  }
}
@media (max-width: 660px) {
  .header .phone img {
    max-width: 24px;
  }
}
.header .phone .flex {
  gap: 10px;
}
.header .phone a {
  line-height: normal;
  text-decoration: none;
}
@media (max-width: 1130px) {
  .header .phone a {
    font-size: 18px;
    line-height: 0;
  }
}
.header .tel {
  font-size: 25px;
  line-height: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
.header .tel img {
  display: none;
}
@media (max-width: 660px) {
  .header .tel img {
    display: block;
  }
}
@media (max-width: 660px) {
  .header .tel span {
    display: none;
  }
}
.header .hamburger {
  display: none;
  position: relative;
}
@media (max-width: 660px) {
  .header .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 24px;
    flex: 0 0 auto;
    justify-content: space-between;
    flex-direction: column;
    height: 19px;
  }
}
.header .hamburger span {
  width: 100%;
  height: 3px;
  flex: 0 0 auto;
  background: #fff;
  display: block;
  transition: all 0.3s linear;
}
.header .hamburger.active {
  justify-content: center;
  align-items: center;
  z-index: 222;
}
.header .hamburger.active span {
  position: absolute;
}
.header .hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  inset: 0;
  margin: auto;
}
.header .hamburger.active span:nth-child(2) {
  display: none;
}
.header .hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  inset: 0;
  margin: auto;
}
.header .menu {
  display: none;
}
@media (max-width: 660px) {
  .header .menu {
    display: block;
  }
}
.header_mobile {
  position: fixed;
  top: 0px;
  right: -100%;
  z-index: 100;
  width: 65%;
  height: 100vh;
  overflow-y: auto;
  background: #211b17;
  backdrop-filter: blur(6px);
  padding: 66px 25px 60px;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_mobile.active {
  right: 0;
}
.header_mobile ul {
  display: flex !important;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}
.header_mobile a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.header_mobile a:hover {
  color: #86e6ad;
}
.header_mobile .bottom_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header_mobile .bottom_links a {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header_mobile .bottom_links a img {
  max-width: 24px;
}

.hero {
  background: url("../images/hero.png") center center/cover no-repeat;
}
@media (max-width: 556px) {
  .hero {
    background: none;
  }
}
.hero .policy {
  display: none !important;
}
@media (max-width: 660px) {
  .hero .policy {
    font-size: 24px;
    display: flex !important;
    gap: 24px;
    line-height: normal;
  }
}
@media (max-width: 556px) {
  .hero .policy {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    gap: 5px;
    font-weight: 500;
    font-family: "Montserrat";
  }
}
.hero .container {
  padding-top: 160px;
  padding-bottom: 80px;
  gap: 60px;
}
@media (max-width: 768px) {
  .hero .container {
    gap: 24px;
  }
}
@media (max-width: 660px) {
  .hero .container {
    padding-top: 55px;
    padding-bottom: 35px;
    flex-direction: column;
  }
}
.hero .lists {
  display: none;
  gap: 10px;
}
@media (max-width: 1024px) {
  .hero .lists {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}
.hero .lists li {
  gap: 10px;
}
.hero .lists li .elipse {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #63e685;
  flex: 0 0 auto;
}
@media (max-width: 1130px) {
  .hero .lists li span {
    font-size: 14px;
  }
}
@media (max-width: 556px) {
  .hero .lists li span {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
  }
}
.hero_left {
  padding-top: 35px;
}
@media (max-width: 1130px) {
  .hero_left {
    padding-top: 0;
  }
}
@media (max-width: 660px) {
  .hero_left {
    width: 100%;
  }
}
.hero_title {
  font-size: 59px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  max-width: 600px;
}
@media (max-width: 1130px) {
  .hero_title {
    font-size: 27px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
  }
}
.hero .gift_block {
  margin-top: 14px;
  gap: 20px;
  font-weight: 400;
  font-size: 27px;
}
@media (max-width: 1130px) {
  .hero .gift_block {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .hero .gift_block {
    gap: 12px;
    font-size: 18px;
  }
}
@media (max-width: 660px) {
  .hero .gift_block {
    margin-top: 10px;
    gap: 10px;
    font-size: 14px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Montserrat";
  }
}
.hero .gift_block b {
  line-height: 11px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
.hero .gift_block img {
  width: 112px;
}
@media (max-width: 1140px) {
  .hero .gift_block img {
    width: 95px;
  }
}
@media (max-width: 768px) {
  .hero .gift_block img {
    width: 70px;
  }
}
.hero .gift_block .flex {
  gap: 10px;
}
.hero .button {
  margin-top: 20px;
}
@media (max-width: 556px) {
  .hero .button {
    margin-top: 12px;
  }
}
.hero .todo {
  width: 100%;
  max-width: 530px;
  border-radius: 6px;
  background-color: rgba(7, 212, 51, 0);
  border: 1px solid #ffffff;
  padding: 20px;
  margin-top: 40px;
  gap: 20px;
}
@media (max-width: 768px) {
  .hero .todo {
    gap: 14px;
    padding: 16px;
  }
}
@media (max-width: 556px) {
  .hero .todo {
    padding: 6px 15px;
    gap: 10px;
    margin-top: 24px;
  }
}
.hero .todo_title {
  font-size: 19px;
  letter-spacing: -2px;
  text-decoration: underline;
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 556px) {
  .hero .todo_title {
    font-size: 12px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
  }
}
.hero .todo p {
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
}
@media (max-width: 768px) {
  .hero .todo p {
    font-size: 16px;
  }
}
@media (max-width: 556px) {
  .hero .todo p {
    font-size: 12px;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: normal;
  }
}
.hero .todo_info {
  gap: 5px;
}
.hero_right {
  max-width: 345px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 660px) {
  .hero_right {
    max-width: 100%;
  }
}
.hero_right_title {
  color: #86e6ad;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .hero_right_title {
    margin-top: 16px;
  }
}
@media (max-width: 660px) {
  .hero_right_title {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
  }
}
.hero_right .hero_img {
  width: 100%;
}
.hero_right .hero_img img {
  width: 100%;
}
.hero_right p {
  padding-top: 25px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .hero_right p {
    padding-top: 16px;
    font-size: 15px;
  }
}
@media (max-width: 660px) {
  .hero_right p {
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
  }
}

.why_avito {
  padding-top: 90px;
  background: url("../images/hero.png") center right no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 556px) {
  .why_avito {
    background: none;
    padding-top: 0;
  }
}
.why_avito .container {
  padding-bottom: 245px;
}
@media (max-width: 660px) {
  .why_avito .container {
    padding-bottom: 33px;
  }
}
.why_avito_items {
  margin-top: 120px;
}
@media (max-width: 1134px) {
  .why_avito_items {
    margin-top: 90px;
  }
}
@media (max-width: 992px) {
  .why_avito_items {
    flex-wrap: wrap;
    gap: 30px 0;
  }
}
@media (max-width: 768px) {
  .why_avito_items {
    margin-top: 24px;
  }
}
.why_avito_item {
  width: calc(33.33% - 15px);
}
@media (max-width: 1134px) {
  .why_avito_item {
    width: calc(33.33% - 8px);
  }
}
@media (max-width: 992px) {
  .why_avito_item {
    width: calc(50% - 8px);
  }
}
@media (max-width: 768px) {
  .why_avito_item {
    width: 100%;
  }
}
.why_avito_item .title {
  padding-bottom: 48px;
}
@media (max-width: 1134px) {
  .why_avito_item .title {
    font-size: 28px;
    padding-bottom: 24px;
  }
}
@media (max-width: 660px) {
  .why_avito_item .title {
    padding-bottom: 20px;
  }
}
.why_avito_items.last {
  gap: 20px;
}
@media (max-width: 1130px) {
  .why_avito_items.last {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .why_avito_items.last .why_avito_item {
    padding: 15px 29px 20px 29px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
  }
}
.why_avito_number {
  width: 87px;
  height: 87px;
  border-radius: 12px;
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
  background-image: linear-gradient(-45deg, #aefb03 0%, #0098dd 100%);
  font-size: 46px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
}
@media (max-width: 768px) {
  .why_avito_number {
    width: 80px;
    height: 80px;
    font-size: 39px;
    line-height: 51px;
    color: #ffffff;
    font-weight: 600;
  }
}
.why_avito_title {
  font-size: 26px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  padding-top: 40px;
}
@media (max-width: 1134px) {
  .why_avito_title {
    font-size: 20px;
    padding-top: 10px;
  }
}
.why_avito_description {
  font-size: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 556px) {
  .why_avito_description {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
  }
}

.avito_profile {
  padding-top: 90px;
  background: url("../images/hero.png") center right no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
@media (max-width: 556px) {
  .avito_profile {
    padding-top: 45px;
    background: none;
  }
}
.avito_profile_items {
  padding-top: 128px;
}
@media (max-width: 992px) {
  .avito_profile_items {
    flex-wrap: wrap;
    gap: 40px 0;
  }
}
@media (max-width: 660px) {
  .avito_profile_items {
    padding-top: 60px;
  }
}
.avito_profile_item {
  border-radius: 12px;
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
  background-image: linear-gradient(50deg, #6a1874 0%, #0096e4 100%);
  width: calc(33.33% - 10px);
  padding: 100px 40px 100px 40px;
  position: relative;
  gap: 48px;
}
@media (max-width: 1130px) {
  .avito_profile_item {
    padding: 70px 22px 70px 22px;
  }
}
@media (max-width: 992px) {
  .avito_profile_item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .avito_profile_item {
    width: 100%;
    padding: 80px 25px;
    gap: 30px;
  }
}
.avito_profile_item img {
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .avito_profile_item img {
    width: 80px;
  }
}
@media (max-width: 660px) {
  .avito_profile_item img {
    width: 64px;
    height: 64px;
    top: -32px;
  }
}
.avito_profile_title {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
@media (max-width: 768px) {
  .avito_profile_title {
    font-size: 19px;
    line-height: 24px;
  }
}
.avito_profile_description {
  font-size: 17px;
  letter-spacing: -1px;
  line-height: 31px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .avito_profile_description {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 1120px) {
  .avito_profile .links {
    justify-content: space-between;
  }
}
.avito_profile .links .flex {
  gap: 20px;
}
.avito_profile .links img {
  position: relative;
  right: -203px;
}
@media (max-width: 1120px) {
  .avito_profile .links img {
    right: -186px;
  }
}
@media (max-width: 1024px) {
  .avito_profile .links img {
    width: 40px;
    right: -145px;
    top: 7px;
  }
}
.avito_profile .links .img {
  position: relative;
  height: 6px;
  z-index: 2;
  top: -20px;
}
@media (max-width: 1024px) {
  .avito_profile .links .img {
    height: 0;
  }
}
.avito_profile .links span {
  min-width: 252px;
  display: inline-block;
  padding: 5px;
  border-radius: 72px;
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
  background-image: linear-gradient(-45deg, #b6f505 0%, #0892df 100%);
  font-size: 31px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
  font-family: "Montserrat";
  text-align: center;
  display: block;
}
@media (max-width: 1024px) {
  .avito_profile .links span {
    font-size: 18px;
    line-height: 20px;
    min-width: 186px;
  }
}
.avito_profile .links span.last {
  width: 100%;
  max-width: 391px;
  padding: 10px 0 20px;
  font-size: 60px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(-45deg, #fd0b71 0%, #fd0b71 52%, #fd5598 55%, #fd4e8f 100%);
  position: relative;
  right: -80px;
}
@media (max-width: 1120px) {
  .avito_profile .links span.last {
    font-size: 45px;
    max-width: 328px;
  }
}
@media (max-width: 1024px) {
  .avito_profile .links span.last {
    font-size: 35px;
    line-height: 25px;
    max-width: 248px;
  }
}
.avito_profile .links a {
  font-size: 46px;
  line-height: 47px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}
@media (max-width: 1120px) {
  .avito_profile .links a {
    font-size: 36px;
  }
}
@media (max-width: 1061px) {
  .avito_profile .links a {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .avito_profile .links a {
    display: none;
  }
}
.avito_profile .links .mobile_link {
  display: none;
}
@media (max-width: 768px) {
  .avito_profile .links .mobile_link {
    display: block;
    padding-top: 20px;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
  }
}
.avito_profile .telegram {
  width: 217px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
  background-color: rgba(209, 47, 106, 0);
  flex: 0 0 auto;
  padding: 45px 25px 25px;
  font-size: 25px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
}
@media (max-width: 1120px) {
  .avito_profile .telegram {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .avito_profile .telegram {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 10px 20px;
  }
}
@media (max-width: 768px) {
  .avito_profile .telegram span {
    display: block;
    padding-top: 20px;
  }
}
.avito_profile .telegram img {
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .avito_profile .telegram img {
    position: static;
    margin: 0 auto;
    display: block;
    max-width: 40px;
  }
}
@media (max-width: 992px) {
  .avito_profile_bottom {
    flex-direction: column;
  }
}
.avito_profile_bottom_right {
  gap: 40px;
  width: 65%;
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  .avito_profile_bottom_right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .avito_profile_bottom_right {
    flex-direction: column;
    top: -65px;
    position: relative;
    gap: 20px;
  }
}
.avito_profile_bottom_right .last {
  display: none;
}
@media (max-width: 768px) {
  .avito_profile_bottom_right .last {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 22px;
    text-transform: none;
  }
}
.avito_profile_bottom_img {
  height: 426px;
  width: 35%;
}
@media (max-width: 992px) {
  .avito_profile_bottom_img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .avito_profile_bottom_img {
    height: auto;
  }
}
.avito_profile_bottom_img img {
  position: relative;
  top: -97px;
  right: -90px;
}
@media (max-width: 1120px) {
  .avito_profile_bottom_img img {
    right: 0px;
    top: -60px;
    width: 438px;
  }
}
@media (max-width: 768px) {
  .avito_profile_bottom_img img {
    max-width: 100%;
  }
}

.avito_offer {
  padding-top: 135px;
}
@media (max-width: 768px) {
  .avito_offer {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .avito_offer .container {
    padding: 33px 16px 45px;
    border-radius: 15px;
    background-color: #000000;
  }
}
.avito_offer_top {
  font-size: 47px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
  gap: 12px;
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .avito_offer_top {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .avito_offer_top {
    gap: 10px;
    flex-direction: column-reverse;
    color: #000000;
    font-size: 19px;
    letter-spacing: -1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
  }
}
.avito_offer_top .button {
  border-radius: 15px;
  background-image: linear-gradient(-45deg, #b6f505 0%, #0892df 100%);
  font-size: 47px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: fit-content;
  padding: 22px 12px;
}
@media (max-width: 1024px) {
  .avito_offer_top .button {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .avito_offer_top .button {
    font-size: 19px;
    letter-spacing: -1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    width: 226px;
    height: 44px;
    border-radius: 8px;
    filter: drop-shadow(0 0 60px rgba(92, 241, 236, 0.59));
    background-image: linear-gradient(-77deg, #b5fd01 0%, #b5fd01 7%, #a3f318 21%, #109fd0 88%, #0096e4 100%);
  }
}
@media (max-width: 768px) {
  .avito_offer_top .column span {
    display: block;
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    text-transform: none;
  }
}
.avito_offer_top .last {
  display: none;
}
@media (max-width: 768px) {
  .avito_offer_top .last {
    display: block;
  }
}
.avito_offer_items {
  padding-top: 80px;
  gap: 45px;
}
@media (max-width: 768px) {
  .avito_offer_items {
    padding-top: 26px;
    gap: 30px;
  }
}
.avito_offer_item {
  padding-bottom: 45px;
  border-bottom: 3px solid #85a1aa;
  gap: 25px;
}
@media (max-width: 768px) {
  .avito_offer_item {
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
}
.avito_offer_item_number {
  width: 87px;
  height: 87px;
  flex: 0 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
  background-image: linear-gradient(-45deg, #c309f5 0%, #0098dd 100%);
  font-size: 46px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 600;
}
@media (max-width: 768px) {
  .avito_offer_item_number {
    width: 75px;
    height: 75px;
    font-size: 39px;
    line-height: 51px;
    color: #ffffff;
    font-weight: 600;
  }
}
.avito_offer_item_title {
  font-size: 23px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 600;
}
@media (max-width: 768px) {
  .avito_offer_item_title {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    line-height: normal;
  }
}
.avito_offer_item_text {
  font-size: 23px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
}
@media (max-width: 768px) {
  .avito_offer_item_text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
  }
}
.avito_offer .all_content {
  font-size: 47px;
  font-weight: 300;
  margin-top: 35px;
}
@media (max-width: 768px) {
  .avito_offer .all_content {
    font-size: 27px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 30px;
  }
}
.avito_offer_statistics {
  padding-top: 60px;
}
@media (max-width: 768px) {
  .avito_offer_statistics {
    flex-direction: column;
    gap: 30px;
    padding-top: 45px;
  }
}
.avito_offer_statistics_item {
  width: calc(33.33% - 15px);
  justify-content: space-between;
}
@media (max-width: 768px) {
  .avito_offer_statistics_item {
    width: 100%;
  }
}
.avito_offer_statistics_item .display {
  width: 100%;
  height: 145px;
  border-radius: 16px;
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .avito_offer_statistics_item .display {
    margin-bottom: 25px;
    height: 104px;
    border-radius: 11px;
    filter: drop-shadow(0 0 60px rgba(92, 241, 236, 0.59));
    background-color: #ffffff;
  }
}
.avito_offer_statistics_item span {
  font-size: 95px;
  line-height: 29px;
  color: #010101;
  font-weight: 700;
}
@media (max-width: 768px) {
  .avito_offer_statistics_item span {
    font-size: 68px;
    line-height: 21px;
    color: #010101;
    font-weight: 700;
  }
}
.avito_offer_statistics_item sub {
  font-size: 23px;
  line-height: 29px;
  color: #000000;
  font-weight: 700;
  padding-top: 39px;
}
@media (max-width: 768px) {
  .avito_offer_statistics_item sub {
    font-size: 16px;
    line-height: 21px;
  }
}
.avito_offer_statistics_item .check {
  margin-top: 30px;
  gap: 15px;
}
.avito_offer_statistics_item .mobile_chek {
  display: none;
}
@media (max-width: 768px) {
  .avito_offer_statistics_item .mobile_chek {
    display: flex;
    padding-top: 5px;
    font-size: 0;
    align-items: center;
    justify-content: flex-start;
  }
}
.avito_offer_statistics_item .mobile_chek span {
  font-size: 13px;
  line-height: 11px;
  color: #06f928;
  font-weight: 500;
  font-style: italic;
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
@media (max-width: 768px) {
  .avito_offer_statistics_item .mobile_chek img {
    width: 24px;
    display: inline-block;
  }
}
.avito_offer_statistics_item .top {
  display: inline;
}
.avito_offer_statistics_body {
  margin-top: 35px;
  font-size: 19px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
}
@media (max-width: 768px) {
  .avito_offer_statistics_body {
    display: inline;
  }
}
.avito_offer_statistics .avito_offer_item_bottom {
  gap: 15px;
  padding-top: 15px;
}
.avito_offer_statistics .avito_offer_item_bottom > img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .avito_offer_statistics .avito_offer_item_bottom > img {
    display: none;
  }
}
@media (max-width: 768px) {
  .avito_offer_statistics .avito_offer_item_bottom {
    display: none !important;
  }
}
.avito_offer_statistics .avito_offer_item_bottom span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 768px) {
  .avito_offer_statistics .avito_offer_item_bottom .check {
    display: inline;
  }
}
@media (max-width: 992px) {
  .avito_offer_statistics .avito_offer_item_bottom .check img {
    max-width: 70px;
  }
}
@media (max-width: 768px) {
  .avito_offer_statistics .avito_offer_item_bottom .check img {
    display: inline;
    width: 25px;
  }
}
.avito_offer .avito_form {
  padding-top: 45px;
}
@media (max-width: 768px) {
  .avito_offer .avito_form {
    border-top: 1px solid #fff;
    margin-top: 15px;
    flex-direction: column;
    padding-top: 25px;
    gap: 25px;
  }
  .avito_offer .avito_form br {
    display: none;
  }
}
.avito_offer .avito_form .form_left {
  font-size: 26px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .avito_offer .avito_form .form_left {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .avito_offer .avito_form .form_left {
    font-size: 19px;
    letter-spacing: -1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
  }
}
.avito_offer .avito_form .price_display {
  font-size: 95px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  max-width: 592px;
  height: 172px;
  border-radius: 15px;
  background-color: rgba(209, 47, 106, 0);
  border: 3px solid #ffffff;
}
@media (max-width: 1130px) {
  .avito_offer .avito_form .price_display {
    font-size: 70px;
    max-width: 480px;
  }
}
@media (max-width: 1024px) {
  .avito_offer .avito_form .price_display {
    max-width: 345px;
    font-size: 64px;
    height: 140px;
  }
}
@media (max-width: 768px) {
  .avito_offer .avito_form .price_display {
    height: 104px;
    border-radius: 11px;
    border: 0;
    box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
    background-image: linear-gradient(56deg, #6a1874 0%, #0096e4 100%);
    font-size: 51px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .avito_offer .avito_form .form_right {
    gap: 10px;
  }
}
.avito_offer .avito_form .form_right span:first-child {
  font-size: 43px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .avito_offer .avito_form .form_right span:first-child {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .avito_offer .avito_form .form_right span:first-child {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    line-height: normal;
  }
}
.avito_offer .avito_form .form_right .acsiya {
  font-size: 25px;
  line-height: 43px;
  color: #00d8ff;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .avito_offer .avito_form .form_right .acsiya {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .avito_offer .avito_form .form_right .acsiya {
    font-size: 14px;
    line-height: normal;
    color: #00d8ff;
    font-weight: 400;
    text-align: center;
  }
}
.avito_offer .button_group {
  padding-top: 41px;
  gap: 10px;
}
@media (max-width: 768px) {
  .avito_offer .button_group {
    flex-direction: column;
  }
}
.avito_offer .button_group .button {
  line-height: normal;
}
.avito_offer .button_group .gradient {
  box-shadow: 0 0 60px rgba(92, 241, 236, 0.59);
}

.faq_section {
  padding-top: 130px;
}
@media (max-width: 768px) {
  .faq_section {
    padding-top: 35px;
  }
}

.faq_accordion {
  gap: 44px;
  padding-top: 65px;
}
@media (max-width: 768px) {
  .faq_accordion {
    padding-top: 25px;
    gap: 16px;
  }
}
.faq_accordion__item {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .faq_accordion__item {
    padding-bottom: 16px;
  }
}
.faq_accordion__trigger {
  width: calc(100% - 80px);
  background: none;
  color: #fff;
  font-size: 32px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  .faq_accordion__trigger {
    width: calc(100% - 25px);
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: normal;
  }
}
.faq_accordion__trigger::after {
  content: "+";
  position: absolute;
  top: 0;
  right: -42px;
  font-size: 22px;
  transition: transform 0.3s ease;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 49px;
  line-height: 60px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .faq_accordion__trigger::after {
    width: 22px;
    height: 22px;
    border-radius: 7px;
    background-color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    right: -22px;
    text-align: center;
  }
}
.faq_accordion__trigger.is_open::after {
  transform: rotate(45deg);
}
.faq_accordion__content {
  max-height: 0;
  overflow: hidden;
  color: #fff;
  padding: 0 10px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
@media (max-width: 768px) {
  .faq_accordion__content {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    line-height: normal;
  }
}
.faq_accordion__content p {
  margin: 15px 0;
}
.faq_accordion__content.is_visible {
  max-height: 200px;
}

.footer {
  padding-top: 120px;
  padding-bottom: 157px;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    line-height: normal;
  }
}
.footer .flex {
  gap: 25px;
}
@media (max-width: 768px) {
  .footer .flex {
    gap: 10px;
    padding-top: 15px;
  }
}
.footer a {
  font-size: 39px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .footer a {
    font-size: 25px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    order: -1;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .footer img {
    max-width: 20px;
  }
}
.footer p {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .footer p {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    margin-top: 50px;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 500;
  background: url("../images/avito_bg.png") center right no-repeat;
  background-size: 100% 100%;
  background-position: bottom center;
  font-family: "Montserrat";
}
@media (max-width: 556px) {
  body {
    background: none;
  }
}
body.hidden {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  position: relative;
}
.wrapper .mobile_bg {
  display: none;
}
@media (max-width: 556px) {
  .wrapper .mobile_bg {
    display: block;
    position: absolute;
    top: 0;
    left: -71.5%;
    width: 190%;
    height: 100%;
    z-index: -1;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

.button {
  width: 100%;
  max-width: 292px;
  height: 59px;
  border-radius: 12px;
  box-shadow: 11.934px 1.254px 12px rgba(90, 22, 72, 0.75);
  background-color: #ffffff;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  line-height: 75px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
}
.button.gradient {
  color: #fff;
  background-image: linear-gradient(-31deg, #37dc47 0%, #1fa172 100%);
}
@media (max-width: 768px) {
  .button {
    font-size: 16px;
  }
}

.title {
  font-size: 59px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
@media (max-width: 1134px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 27px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
  }
}

.all_content {
  margin-top: 80px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
@media (max-width: 1130px) {
  .all_content {
    margin-top: 29px;
  }
}
@media (max-width: 768px) {
  .all_content {
    margin-top: 25px;
    font-size: 27px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
  }
}

main {
  position: relative;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */